/**
 * Author: Derrick Shibero Wakhu
 * Date added: November 1 2024
 * Date last Edited: November 1 2024
 */

/* Overall styles */
body  {
    background-color: blue;
    font-size: large;
}

h1  {
    text-transform: uppercase;
    text-align: center;
}

#main  {
    background-color: rgba(244, 235, 200, .4);
    height: 500px;
    width: 50%;
    border: outset;
    border-width: 1px;
    border-color: wheat;
    padding: 10px;
    display: block;
    border-radius: 10px;
    align-self: center;
    margin: 150px auto 200px auto;
    text-align: center;
}

button  {
    font-size: large;
    margin-top: 10px;
    border: outset;
    background-color: rgba(91, 230, 26, 0.89);
    padding: 5px;
    border-radius: 5px;
}

button:hover  {
    background-color: yellowgreen;
}

input[type="text"]  {
    border-radius: 3px;
    border: 1px 1px 1px 1px;
    border: inset;
    padding: 5px;
    font-size: large;
    width: 60%;
}

p  {
    text-transform: capitalize;
}

/* other */

#question_div, #career_div  {
    display: none;
}

.btn_select  {
    width: 60%;
    border: none !important;
    border-bottom: 2px outset black !important;
}

.btn_select:hover, #very_bad:hover, #bad:hover, #good:hover, #very_good:hover  {
    background-color: rgba(0, 0, 255, .5) !important;
}

#very_bad  {
    background-color: rgba(255, 0, 0, .5) !important;
}

#bad  {
    background-color: rgba(125, 0, 0, .5) !important;
}

#good  {
    background-color: rgba(16, 189, 16, 0.5) !important;
}

#very_good  {
    background-color: rgba(0, 255, 0, .5) !important;
}

